In [1]:
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.feature_selection import f_classif

In [3]:
df = load_diabetes()
x = pd.DataFrame(df.data, columns = df.feature_names)
y = pd.Series(df.target, name = 'target')

In [5]:
x.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [6]:
y

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

In [7]:
f_statistics, p_value = f_classif(x, y)

In [11]:
for i in range(len(x.columns)):
    if p_value[i] < 0.05:
        print(x.columns[i])

bmi
bp
s3
s4
s5

In [12]:
f_statistics

array([1.08814913, 1.07738099, 2.0316784 , 1.55360282, 0.92152094,
       0.89064742, 1.61974117, 1.53674402, 2.05387997, 1.18820665])