In [7]:
def find_hcf(divisor, dividend):

    while(dividend != 0):

        divisor, dividend = dividend, divisor % dividend

    return divisor

def find_lcm(a, b):

    lcm = (a * b) // find_hcf(a, b)

    return lcm

num1 = int(input("Enter the first number: "))

num2 = int(input("Enter the second number: "))

hcf_result = find_hcf(num1, num2)

lcm_result = find_lcm(num1, num2)

print(f"The HCF of {num1} and {num2} is: {hcf_result}")

print(f"The LCM of {num1} and {num2} is: {lcm_result}")

Enter the first number:  8
Enter the second number:  12

The HCF of 8 and 12 is: 4
The LCM of 8 and 12 is: 24

In [3]:
a=int(input("Enter any value : "))

b=int(input("Enter any value : "))

HCF=1

LCM=1

for i in range(1,max(a,b)+1):

  if (a%i==0) and (b%i==0):

    HCF = HCF*i

  else:

    continue

print("HCF",HCF)

LCM=(a*b)/HCF

print("LCM", LCM)

Enter any value :  4
Enter any value :  48

HCF 8
LCM 24.0

In [9]:
divisor = 8
dividend = 12
mult = divisor*dividend
while(divisor>0):
    r = dividend%divisor
    dividend = divisor
    divisor = r

In [6]:
dividend

4

In [10]:
lcm = mult/dividend

In [11]:
lcm

24.0

In [13]:
for i in range(4):
    print("first loop", i)
    if i == 2:
        continue
        print("hello")
    for i in range(2):
        print("second loop",i)

first loop 0
second loop 0
second loop 1
first loop 1
second loop 0
second loop 1
first loop 2
first loop 3
second loop 0
second loop 1

# Data Structure
1. String
2. list
3. tuple
4. Dictionary
5. Sets

In [14]:
a = "hello"

In [15]:
type(a)

str

In [16]:
print(type(a))

<class 'str'>

In [83]:
a = "My name is Aditya"

In [18]:
print(a)

My name is Aditya

In [19]:
# Format method
# f string

In [24]:
print(f"Hello , {a}")

Hello , My name is Aditya

In [32]:
print("hello"+ " " + "tushar") # concatenation

hello tushar

In [34]:
print("hello " + a)

hello My name is Aditya

In [44]:
print("{}".format(a))

My name is Aditya

In [37]:
b

48

In [46]:
print(f"hello {a}")

hello My name is Aditya

In [47]:
# find

In [50]:
a.find("Aditya")

11

In [65]:
a = "   my  name is aditya"

In [66]:
a = a.strip()

In [67]:
a

'my  name is aditya'

In [68]:
a.split()

['my', 'name', 'is', 'aditya']

In [69]:
a.split("n")

['my  ', 'ame is aditya']

In [70]:
a.split("a")

['my  n', 'me is ', 'dity', '']

In [73]:
a.split("aditya")

['my  name is ', '']

In [74]:
a

'my  name is aditya'

In [81]:
a

['', '  name is aditya']

In [82]:
a

['', '  name is aditya']

In [84]:
a

'My name is Aditya'

In [93]:
a.split("My")
# a.split("is")

['', ' name is Aditya']

In [95]:
b = a.split("My")[1]

In [97]:
b.split("is")

[' name ', ' Aditya']

In [98]:
a.upper()

'MY NAME IS ADITYA'

In [99]:
a.lower()

'my name is aditya'

In [100]:
# write a function which take an input as a string in lower case and return me the upper case value

In [101]:
a

'My name is Aditya'

In [106]:
a.count("name")

1

In [107]:
# write a function to find the occurence of each character in your string but it will not repeat

In [110]:
a.partition("n")

('My ', 'n', 'ame is Aditya')

In [114]:
a.partition("name")

('My ', 'name', ' is Aditya')

In [116]:
a

'My name is Aditya'

In [121]:
for i in a:
    print(i, end = " ")

M y   n a m e   i s   A d i t y a

In [127]:
password = input("enter your password : ")
while True:
    if password == input("your password : ").strip().split()[0]:
        break
    else:
        print("try again")

enter your password :  tushar
your password :    tushar 98 e

In [126]:
input("enter : ").strip().split()[0]

enter :    tushar 98 wq

'tushar'

In [128]:
a

'My name is Aditya'

In [131]:
a[11]

'A'

In [132]:
len(a)

17

In [133]:
a[18]

IndexError: string index out of range

In [134]:
a[17]

IndexError: string index out of range

In [135]:
a[16]

'a'

In [136]:
a[3:]

'name is Aditya'

In [137]:
a[ : 9]

'My name i'

In [3]:
a[3:7]

NameError: name 'a' is not defined

In [7]:
'''hello everyone i am Tushar a Data Science Expert , do you really wanna know how youtube suggests you different kind of videos , shorts ,
how netflix suggests you the movies and web series , how your snap filters are working , how face lock work in your mobile phone
so if you want to learn how all these things work please join training basket machine learning course!
where i'll be providing you the hands on experience to learn the skills for these things '''

"hello everyone i am Tushar a Data Science Expert , do you really wanna know how youtube suggests you different kind of videos , shorts ,\nhow netflix suggests you the movies and web series , how your snap filters are working , \nhow face lock work in your mobile phone so if you want to learn how all these things work please join training basket machine learning course!\nwhere i'll be providing you the hands on experience to learn the skills for these things "

In [12]:
for i in range(0, 6):
    for i in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [24]:
for i in range(0, 6):
    for i in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *