In [2]:
# Input

text = input("Enter a string: ")

# Output string
result = ""

for char in text:

    # Check if character is uppercase

    if 'A' <= char <= 'Z':

        # Convert to lowercase by adding 32 to ASCII

        result += chr(ord(char) + 32)

    elif 'a' <= char <= 'z':

        # Convert to uppercase by subtracting 32 from ASCII

        result += chr(ord(char) - 32)

    else:

        # For spaces or special characters, keep them unchanged

        result += char

 

print("Swapped Case:", result)

Enter a string:  hellO How High ARE you?

Swapped Case: HELLo hOW hIGH are YOU?

In [3]:
a = "This Is Data Science"

b = ""

for d in a:

  if a.islower():

    b += d.upper()

  elif a.isupper():  

    b += d.lower()

  else:

    b += d

print(b)

This Is Data Science

In [4]:
a.islower()

False

In [5]:
a.upper().isupper()

True

In [38]:
a = 'success'
a = a.lower()
a.count('s')

3

In [8]:
# find the max repeating character in my given string

In [39]:
b = {}
for i in a:
    if i not in b:
        b[i] = a.count(i)
# print(sorted(b))

In [37]:
b

{'v': 1, 'a': 2, 'r': 1, 's': 1, 'h': 1}

In [24]:
count_max

3

In [31]:
text = "success"

count = 0

for char in text:

    if char == 's':

        count += 1

print("'s' appears", count, "times")

's' appears 3 times

In [33]:
a=input("Enter any word : ")

a=a.lower()

b=0

b_=0

c=0

for i in a:

  b=a.count(i)

  b_=b

  if b>b_:

    c=b

  else:

    c=b_

print(c)

Enter any word :  varsha

2

In [57]:
a = 'success'
a = a.lower()
b = {}
for i in a:
    if i not in b:
        b[i] = a.count(i)  
print(sorted(b.values(), reverse=True)[0])

3

In [59]:
print(f"Max repeating character : {sorted(b.values(), reverse=True)[0]}")

Max repeating character : 3

In [62]:
for i in b.keys():
    print(i)

s
u
c
e

In [53]:
text = input("Enter a string: ")

freq = {}

for ch in text:

    if ch in freq:

        freq[ch] += 1

    else:

        freq[ch] = 1

max_char = ""

max_count = 0

for ch in freq:

    if freq[ch] > max_count:

        max_count = freq[ch]

        max_char = ch

print("Max repeating character:", max_char)

print("It appears", max_count, "times")

Enter a string:  Khitoliya

Max repeating character: i
It appears 2 times

In [54]:
def replace(sentence):

    vowels = "aeiouAEIOU"

    result = ""

 

    for char in sentence:

        if char in vowels:

            result += "*"

        else:

            result += char

 

    print(result)

In [55]:
replace("Education is key")

*d*c*t**n *s k*y

In [64]:
text = "education is key"

# Vowels list

vowels = ['a', 'e', 'i', 'o', 'u']

result = ""

for char in text:

    if char in vowels:

        result += '*'

    else:

        result += char

print(result)

*d*c*t**n *s k*y

In [66]:
a = "this is is a test test"

b = a.split()

c = []

for g in b:

  if not result or b != result[-1]:
      result.append(g) 

print(" ".join(result))

AttributeError: 'str' object has no attribute 'append'

In [77]:
a = "this is is a test test"
a = a.lower()
l1 = []
output = ""
l = a.split()
for i in l:
    if i not in l1:
        l1.append(i)
        output = output + i + " "
output = output[:-1]

In [78]:
output

'this is a test'

In [81]:
text = "a00bc"

total = 0

ascii_values = ""

for i in range(len(text)):

    val = ord(text[i])

    total += val

    ascii_values += str(val)

    if i != len(text) - 1:

        ascii_values += " + "

# Output

print(ascii_values, "=", total)

97 + 98 + 99 = 294

In [83]:
st = 'hello'
# sum of non repeating ascii values

In [84]:
a="abc"

ascii_list=[]

total=0

for adi in a:

  val=ord(adi)

  ascii_list.append(str(val))

  total += val

  print(" + " .join(ascii_list),"=",total)

97 = 97
97 + 98 = 195
97 + 98 + 99 = 294

In [94]:
st = 'hello'
# sum of non repeating ascii values
l = []
sum = 0
for i in st:
    if i not in l:
        l.append(i)
        sum = sum + ord(i)
print(f"Sum of ascii values are : {sum}")

Sum of ascii values are : 424

In [93]:
text = "abcbcd"

total = 0

ascii_values = ""

taken = ""

for i in range(len(text)):

    ch = text[i]

    if ch not in taken:

        val = ord(ch)

        total += val

        ascii_values += str(val)

        taken += ch

        if len(taken) < len(set(text)):

            ascii_values += " + "

# Output

print(ascii_values, "=", total)

97 + 98 + 99 + 100 = 394

In [96]:
word=input("enter any word : ")

word_=[]

sum=0

for ch in word:

  if ch not in word_:
      word_.append(ch)
      sum+=ord(ch)

print(sum)

enter any word :  Hello

392

In [99]:

n=int(input("enter the value"))

for i in range(1, n+1):

  print(str(i)*i)

enter the value 6

1
22
333
4444
55555
666666

In [100]:
n = 5  
for i in range(1, n + 1):

    for j in range(i):

        print(i, end="")

    print()

1
22
333
4444
55555

In [101]:
a = 3

3