In [5]:
b = 53
a = 2

r = b - a*(b//a)
if r == 1:
    print("odd")
else:
    print("even")

odd

In [2]:
r

1

In [8]:
num = 53
for i in range(77//2,77):
    if num%2==0:
        print("not prime")
print("prime")

prime

In [9]:
n = 53
fact = 0
for i in range(1, n+1):
    if n%i == 0 :
        fact += 1

In [10]:
fact

2

In [11]:
if fact > 2:
    print("not a prime")
else:
    print("prime")

prime

In [12]:
12345

12345

In [13]:
54321

54321

In [17]:
num = 12345
su = 0
while num!=0:
    r = num%10
    su = su*10 + r
    num = num//10
su

SyntaxError: invalid non-printable character U+00A0 (2616414874.py, line 6)

In [18]:
n = 12345
su = 0
while num != 0:
    r = num%10
    su = su*10 + r
    num = num//10

In [19]:
su

54321

In [23]:
st = "this is data science"
rev = ""
for i in st:
    rev = i + rev

In [24]:
rev

'ecneics atad si siht'

In [25]:
st.split()

['this', 'is', 'data', 'science']

In [29]:
chr(97)

'a'

In [30]:
chr(65)

'A'

In [31]:
ord("A")

65

In [34]:
chr(ord("A") + 32)

'a'

In [35]:
st

'this is data science'

In [36]:
st = "this is my string"
l = list(st)
y = list(set(st))
for i in y:
    n = 0
    for j in l:
        if i == j:
            n+=1
    print(f"{i}  :  {n}")

t  :  2
h  :  1
i  :  3
y  :  1
r  :  1
   :  3
s  :  3
g  :  1
n  :  1
m  :  1

In [37]:
st = st.upper()
b = []
for i in st:
    if i not in b:
        b.append(i)
        print("count of ", i, st.count(i))

count of  T 2
count of  H 1
count of  I 3
count of  S 3
count of    3
count of  M 1
count of  Y 1
count of  R 1
count of  N 1
count of  G 1

In [39]:
l1 = [2,3,4,5,5,6,6,7]
l2 = [2, 3, 5, 9, 10]
# print common element from both list

In [42]:
l1 = [2,3,4,5,5,6,6,7]
l2 = [2,3,5,9,10]
l = []
for i in l1:
    if i not in l:
        l += [i]
# print(l)

for i in l:
    if i in l2:
        print(i)

2
3
5