In [5]:
l = [10, 8, 9, 7, 6, 5 ,4 ]

In [10]:
for num in l:
    for j in range(2, num + 1):
        if num%j == 0:
            print('the factor of ', num ,"is = ", j)
    print()

the factor of  10 is =  2
the factor of  10 is =  5
the factor of  10 is =  10

the factor of  8 is =  2
the factor of  8 is =  4
the factor of  8 is =  8

the factor of  9 is =  3
the factor of  9 is =  9

the factor of  7 is =  7

the factor of  6 is =  2
the factor of  6 is =  3
the factor of  6 is =  6

the factor of  5 is =  5

the factor of  4 is =  2
the factor of  4 is =  4

In [11]:
l = [17, 19, 27, 10, 23]
# print all the prime numbers from the above list

In [12]:
a = 10
if a > 7:
    if a < 20:
        print("yes")

yes

In [15]:
l = [17,19,27,10,23]

for i in l:
    count = 0    
    for n in range(1,i+1):

        if i%n == 0:

          count = count + 1

    if count > 2:
        print(f"{i} is not a prime number")

    else:
        print(f"{i} is a prime number")

17 is a prime number
19 is a prime number
27 is not a prime number
10 is not a prime number
23 is a prime number

In [16]:
lst = [17, 19, 27, 10, 23]

 

for num in lst:

    if num > 1:

        fact = 0

        for i in range(2, num):  

            if num % i == 0:

                fact += 1

        if fact == 0:

            print(num)

17
19
23

In [19]:
# l = [17, 19, 27, 10, 23]

# for maha in l:

#     factor = 0

#     for i in range(1, maha+1):

#       if maha % i==0:

#     factor = factor + 1

#    if factor > 2:

#     print("prime number")

#    else:

#     print("not prime number")

In [20]:
l

[17, 19, 27, 10, 23]

In [26]:
for num in l:
    factor = 0
    for i in range(1, num + 1):
        if num%i == 0:
            factor += 1
    
    if factor == 2:
        print("Prime number is",num)

Prime number is 17
Prime number is 19
Prime number is 23

In [27]:
st = 'Training Basket'

In [28]:
st[ : 8]

'Training'

In [29]:
st[ : ]

'Training Basket'

In [31]:
st[::-1] # reverse the string

'teksaB gniniarT'

In [32]:
# make a function that will return the reverse string

In [38]:
def reverss(a=''):

  for i in range(0,len(a),-1):

    print(a[i],end="")

reverss(a = 'kanhaiya sharma')

In [43]:
def reverse(a):
    st = ''
    for i in a:
        st = i + st     # ('T' + ''), ('u' + 'T') = ('uT') ,('s' + 'uT') 
    return st

In [61]:
reverse('Tushar khitoliya')

'ayilotihk rahsuT'

In [45]:
# while Loop

In [49]:
a = 5
while a <= 10:
    print(a)
    a = a + 1

5
6
7
8
9
10

In [51]:
# while True:
#     a = int(input("enter the value = "))

In [52]:
st

'Training Basket'

In [54]:
for i in st:
    print(i, end = '')

Training Basket

In [56]:
a = 'kanhaiya sharma '

i=0

while i < len(a):

  print(a[i], end = '')

  i +=1

kanhaiya sharma

In [57]:
st

'Training Basket'

In [59]:
i = 0
l = len(st)
while l > 0 :
    print(st[i] , end = '')
    l = l - 1
    i = i + 1

Training Basket

In [62]:
# a = 'kanhaiya sharma '

# i=0

# while len(a) > 0:

#   print(a[i],end="")

#   i -=1

In [63]:
st

'Training Basket'

In [66]:
i = 1
l = len(st)
while l > 0:
    print(st[-i], end = '')
    i = i + 1
    l = l - 1

teksaB gniniarT

In [67]:
print("Coding, Chef!")

Coding, Chef!

In [68]:
# Write a program to output the squares (using multiplication) of numbers from 1 to 5 
# on separate lines.

In [70]:
for i in range(6):
    print('square of ', i, "=", i**2)

square of  0 = 0
square of  1 = 1
square of  2 = 4
square of  3 = 9
square of  4 = 16
square of  5 = 25