In [1]:
# For loop

In [2]:
st = 'Training Basket'
for i in st:
    print(i)

T
r
a
i
n
i
n
g

B
a
s
k
e
t

In [3]:
for i in range(len(st)):
    print(st[i])

T
r
a
i
n
i
n
g

B
a
s
k
e
t

In [4]:
for i in range(0, len(st), 2):
    print(st[i])

T
a
n
n

a
k
t

In [5]:
l = [1, 2, 4, 5, 5]
for i in l:
    print(i)

1
2
4
5
5

In [18]:
a = 47

g = a//2

if g==0:
    print("even")
else:
    print("odd")

odd

In [7]:
47/2

23.5

In [16]:
def even_odd(n):

    return n & 1 == 1

even_odd(290)

False

In [10]:
a = int(input("enter one number = "))
for i in range(0,a+1,2):
  if i ==a :
    print("even number")
  else:
    print("odd number")

enter one number =  10

odd number
odd number
odd number
odd number
odd number
even number

In [11]:
def odd_even(a):
    r = a - 2*(a//2)
    if r == 0:
        print("Even")
    else:
        print("odd")

In [17]:
odd_even(290)

Even

In [ ]:
2*(n//2) == n

In [21]:
2*(28//2) == 28

True

In [22]:
for i in range(1,11):

  print(f"4*{i}={4*i}")

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [23]:
n = 4
for i in range(1, 11):
    print(n,"*",i, " = ", n*i)

4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
4 * 10  =  40

In [24]:
n = 23
for i in range(2, n):
    if n%i == 0:
        print("not a prime number")
    else:
        print("Prime number")

Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number
Prime number

In [25]:
# n = 23
# factor = 0
# for i in range(n+1):
#     if n == 0:
#         print("it is zero")
#     elif n%i == 0:
#         count = count + 1

In [31]:
n = int(input("enter the number = "))
factor = 0
for i in range(1, n+1):
    if n%i == 0:
        factor = factor + 1
if factor > 2:
    print("not a prime number")
else:
    print("Prime number")

enter the number =  79

Prime number

In [32]:
factor

2

In [ ]:
l = [10, 8, 9, 7, 6, 5 ,4 ]  # find the factors of each element in the given list


# factor of 10 = 2*5
# factor of 8 = 2*2*2