In [1]:
a = 1
print(a)

1

In [2]:
a = 4.0

In [3]:
print(a)

4.0

In [4]:
c = 'HELLO WORLD'
print(c)

HELLO WORLD

In [5]:
print  # shift + tab

In [6]:
def sum(a,b):
    """Adding to numbers toget
her"""     # implementation process
    print(a+b)
    print(a)

In [7]:
sum(3, 4)

7
3

In [8]:
c = sum(3, 5)
print(c)

8
3
None

In [9]:
def sum(a,b):
    """Adding to numbers together"""     # implementation process
    print(a+b)
    return a-b

In [10]:
c = sum(10, 5)  # hold the (a-b) value

15

In [11]:
c # how to find the memory address of this c

5

In [12]:
id(c)

140733125634616

In [13]:
id(sum(10, 5))

15

140733125634616

In [14]:
# make a program to print the memory address of a variable , value, type

In [15]:
def memory(a):
    print("value of argument", a)
    print("address of argument", id(a))
    print("type of argument", type(a))
memory('34')

value of argument 34
address of argument 2752865285296
type of argument <class 'str'>

In [16]:
memory(sum)

value of argument <function sum at 0x00000280F50751C0>
address of argument 2752889967040
type of argument <class 'function'>

In [17]:
# variables

In [18]:
a = 4.0

In [19]:
a = print

In [20]:
a("hello Rachit")

hello Rachit

In [21]:
def full_name(first, last):
    return first + "_" + last   # concatenation property

In [22]:
full_name("Indu", "Gupta")  "Rachit Verma"

SyntaxError: invalid syntax (2719268094.py, line 1)

In [ ]:
# Indu Gupta

In [ ]:
a = input("Enter your name")

In [ ]:
a

In [ ]:
full_name(input("enter first name : "), input("enter last name : "))

In [ ]:
c = "A"

In [ ]:
ord(c)  # tells about the ASCII value of a character

In [ ]:
c = "*"

In [ ]:
ord(c)

# Conditional statements

In [ ]:
# if
# elif
# else

In [ ]:
a = 10
if a >= 5:
    print("hello")

In [ ]:
if a <= 5:
    print("hello")
else:
    print("Bye")

In [ ]:
if a >= 5:
    print("hello")
    if a < 15:
        print("Hi")
    else:
        pass  # do nothing

elif a <= 5:
    print("Rachit")
elif a < 3:
    print("Verma")
else:
    print("Bye")

In [ ]:
def check():
  n= int(input("enter a number"))
  if n%2==0:
      print("number is even")
  else:
      print("number is odd")

In [ ]:
check()

In [ ]:
# check even and odd for two parameters and their result as well (a+b)
# compares three variable (a,b,c) ex: a =3,b =2, c = 5 c is greatest

In [ ]:
def name(a, b):
    return a + " "+b

In [ ]:
name("Indu", "Gupta")

In [ ]:
st = "Hello world"
# print the reverse of this st

In [ ]:
# Loops :>
# for 
# While

In [ ]:
# for loop

In [ ]:
for i in range(0,3):
    print("Hello")  # i =0, i =1, i =2

In [ ]:
for i in range(3):
    print(i)

In [ ]:
# i want to take an input 2 times 
for i in range(2):
    a = int(input("enter the number : "))
    print(a)

In [ ]:
def fact(n):
    x = 1
    for i in range(0,n):
        x = x*(i+1)
    return x

In [ ]:
fact(5)

In [ ]:
def factorial():
    a = 5
    fact = 1
    for i in range(1, a+1):
        fact = fact*i
    return fact

In [ ]:
factorial()

In [ ]:
def sum_between(a, b):
    a = 0
    for i in range(a, b+1):
        a = a + i
    return a

In [ ]:
sum_between(0, 5)

In [ ]:
st = "Tushar Goyal"
for i in st:
    print(i)

In [ ]:
st = "Tushar Goyal"
A = ""
print(A)

In [ ]:
def reverse_string(s):
    st = ""
    for i in s:
        st = i + st
    return st

In [ ]:
s = 'tushar'
reverse_string(s)

In [ ]:
for i in range(0, 5):
    print("the value of i iterator", i)
    for j in range(0, 2):
        print("the value of j iterator", j)

In [ ]:
# While loop

In [ ]:
number = 1
while number <= 3:
    print("Number :", number)
    print("hello")
    number += 1   # number = number + 1

In [ ]:
pas= input("enter your pass")
while pas=="TUSHAR":
    print("Authentication successfull")
else:
    print("Enter correct passoword")

In [ ]:
while (True):
    a = input("enter your password : ")
    if a == "Tushar":
    
        print("Authentication successfull")
        break  # stop your code
    else:
        print("Try Again")

In [ ]:
for i in range(5000):
    if i == 2:
        break
    print("the value of i : ", i)
    for j in range(3):
        if j== 2:
            continue
            print("Hello")
        else:
            print(j)

In [ ]:
for i in range(5):
    print("hello")
    if i == 3:  
        print("Tushar")
        continue
        print("Goyal")

In [ ]:
# data structures
# String
# list
# Tuples
# Dictionary

# String

In [ ]:
st = "Data Science Session"

In [ ]:
type(st)

In [ ]:
name = 'TUSHAR'
print("HELLO WOLRD MY NAME IS",name)

In [ ]:
name = 'TUSHAR'
last_name = 'GOYAL'
print("HELLO WOLRD MY NAME IS",name, last_name)

In [ ]:
# format method
print("Hello world my name is {} {}".format(name, last_name))

In [ ]:
# F string to decorate your statement
print(f"Hello world my name is {name} {last_name}")

In [ ]:
print(f"Hello world my name is {input("enter first name : ")} {input("Enter last name : ")}")

In [ ]:
while True:
    if int(input("Enter password")) == 4567:
        print("Password authentication")
        break
    else:
        print("Wrong password")

In [ ]:
while True:
    if input("Enter password").strip() == "4567TUSHAR":
        print("Password authentication")
        break
    else:
        print("Wrong password")

In [ ]:
st = " Jaisalmer "
st.strip()

In [ ]:
while True:
    if input("Enter password").strip().split()[int(input("Enter the element number"))] == "4567TUSHAR":
        print("Password authentication")
        break
    else:
        print("Wrong password")

In [ ]:
ST = "    4567TUSHAR    TUKJH WERFER   "
ST.strip().split()[0]

In [ ]:
ST.strip().split()[int(input("Enter the element number"))]