In [1]:
def number_odd_even():

  a = int(input("enter the number"))

  if (a // 4) * 4 == a:

    print("this is a even number")

  else: 

    print("this is a odd number")

In [4]:
number_odd_even()

enter the number 90

this is a odd number

In [12]:
 # 1. check number is even or odd without using modulus operator

def even_odd_check(x):

    y = x / 2

    if x == 2 * int(y):

        print("Number is even")

    else:

        print("Number is odd")

num = float(input("Enter number: "))

even_odd_check(num)

Enter number:  90

Number is even

In [9]:
int(23.5)

23

In [13]:
# 2. make a grade calculator

def grade_cal(x):

  if (x<=100 and x>90):
    print("Grade is A++")
  elif (x<=90 and x>80 ):
    print("Grade is A+")
  elif (x<=80 and x>70 ):
    print("Grade is B+")
  elif (x<=70 and x>60 ):
    print("Grade is B+")
  elif (x<=60 and x>50 ):
    print("Grade is B")
  elif (x<=50 and x>40 ):
    print("Grade is C")
  elif (x<=40 and x>33 ):
    print("Grade is D")
  else:
    print("Grade is E - FAIL")
num = int(input("Enter Percentage:"))

grade_cal(num)

Enter Percentage: 87

Grade is A+

In [16]:
def find_grade(a):

  if 91<=a<=100:

    print("Your Grade is A+")

  elif 81<=a<=90:

    print("Your Grade is A")

  elif 71<=a<=80:

    print("your Grade is B+")

  elif 61<=a<=70:

    print("Your Grade is B")

  else:

    print("clear your back")

a=int(input("enter your marks : "))

find_grade(a)

enter your marks :  56

clear your back

In [17]:
# 3. max of three numbers

def max_of_three(a,b,c):

  if (a>b and a>c):

    print("A is max. of 3 numbers")

  if (b>c and b>a):

    print("B is max. of 3 numbers")

  if (c>a and c>b):

    print("C is max. of 3 numbers")

A = int(input("Enter 1st num: "))

B = int(input("Enter 2nd num: "))

C = int(input("Enter 3rd num: "))

max_of_three(A,B,C)

Enter 1st num:  8
Enter 2nd num:  2
Enter 3rd num:  10

C is max. of 3 numbers

In [19]:
a = 18

b = 34

c = 31

maximum = max(a, b, c)

print("maximum number is", maximum)

maximum number is 34

In [22]:
def biggest_no(a,b,c):

  if a>b:

    if a>c:

      print("a is the biggest number")

    else:

      print("c is the biggest number")

  elif b>a:

    if (b>c):

      print("b is the biggest number")

    else:

     print("c is the biggest number")

  else:

    print("c is the biggest number")

a=int(input("Enter a number : "))

b=int(input("Enter a number : "))

c=int(input("Enter a number : "))

biggest_no(a,b,c)

Enter a number :  09
Enter a number :  08
Enter a number :  10

c is the biggest number

In [32]:
# 4. check a leap year

def leap_year(y):

    if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):

        print("Year is Leap Year")

    else:

        print("Year is Non Leap Year")

year = int(input("Enter year: "))

leap_year(year)

Enter year:  2024

Year is Leap Year

In [37]:
# 5. Categorize the Age Group

# Age

# 0-12: Child

# 13–19: Teen

# 20–59: Adult

# 60+: Senior

def categorize_age(age):

    if (age >= 0 and age <= 12):

        print("Child")

    elif (age >= 13 and age <= 19):

        print("Teen")

    elif (age >= 20 and age <= 59):

        print("Adult")

    elif (age >= 60):

        print("Senior")

    else:

        print("Invalid")

age_input = int(input("Enter age: "))

categorize_age(age_input)

Enter age:  5000

Senior

In [40]:
# 6. Check the type of triangle will

def triangle_type(a, b, c):

    if a + b > c and a + c > b and b + c > a:

        if a == b == c:

            print("Equilateral triangle")

        elif a == b or b == c or a == c:

            print("Isosceles triangle")

        else:

            print("Scalene triangle")

    else:

        print("Not a valid triangle")

a = int(input("Enter side a: "))

b = int(input("Enter side b: "))

c = int(input("Enter side c: "))

triangle_type(a, b, c)

Enter side a:  92
Enter side b:  87
Enter side c:  87

Isosceles triangle

In [44]:
# 7. simple interest calculator if SI > 5000 print "high interest" else "low interest".

def simple_interest(p, r, t):

    si = (p * r * t) / 100

    print(f"Simple Interest: {si}")  # F String

    if si > 5000:

        print("High Interest")

    else:

        print("Low Interest")

p = float(input("Enter Principal amount (P): "))

r = float(input("Enter Rate of interest per year (R): "))

t = float(input("Enter Time in years (T): "))

simple_interest(p, r, t)

Enter Principal amount (P):  10000
Enter Rate of interest per year (R):  10
Enter Time in years (T):  4

Simple Interest: 4000.0
Low Interest

In [ ]:
max

# Loops
1. for
2. while

In [50]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [51]:
for i in range(0, 5):
    print("Tushar")

Tushar
Tushar
Tushar
Tushar
Tushar

In [54]:
for i in range(0,3):

  a=int(input("enter any digit : "))

  print(type(a))

enter any digit :  89

<class 'int'>

enter any digit :  32

<class 'int'>

enter any digit :  45

<class 'int'>

In [55]:
for aditya in range(0,3):
    print(aditya)

0
1
2

In [56]:
for aditya in range(0,3):
    print("aditya")

aditya
aditya
aditya

In [57]:
for dg in range(0,5):
    d = int(input("Enter num"))
    print(type(d))

Enter num 89

<class 'int'>

Enter num 34

<class 'int'>

Enter num 21

<class 'int'>

Enter num 23

<class 'int'>

Enter num 4

<class 'int'>

In [60]:
sum = 0
for i in range(0,5):
  sum=sum+i+1
print(sum)

15

In [67]:
for i in range(0,5):
    i = i+1
    sum(i)

print(sum)

TypeError: 'int' object is not callable

In [65]:
for sum in range(0, 5):
  sum = a, b
  print(sum)

NameError: name 'a' is not defined

In [63]:
del(a)

In [64]:
del(b)

In [68]:
def sumbetween(a,b):
    sum_ = 0
    for i in range(a, b+1):
        sum_ = sum_ + i
    print(sum_)

In [70]:
sumbetween(0, 100)

5050

In [73]:
a = int(input())
b = int(input())

 3
 10

In [74]:
sumbetween(a,b)

52

In [75]:
sum?

Type:        int
String form: 0
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating-point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4